/*limpar formatações padrão*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/*
**** Layout ****
*/

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    width: 920px;           /* Resolução ideal para o mercado que roda 1024 */
    margin: 0px auto;       /* Para centralizar usaremos o margin - auto = automatico para os lados */

}

#area-postagens, #area-lateral {
    background: #f7b600;
}

#area-postagens {
    width: 660px;
    float: left;           /* Para deixar essa area de postaem a esquerda da area principal */

    /* Quando declaramos o width das areas postagens e lateral a soma deles deu 900px e o width da area principal é de 920 pix quando colocamos os floats tanto na área-postagens quanto área-lateral ficará um estapaçamento entre eles de extamente 20px que é a diferença entrea as áreas */
}

#area-lateral {
    width: 240px;
    float: right;           /* Para deixar essa area de postaem a direita da area principal */
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;   /* Para separar o leia mais do rodape */
    background: white;
}

#rodape {
    clear: both;
    padding: 15px;
    background: #CCC;
    text-align: center;
}

/*
**** Formatação do Menu ****
*/

a {
    text-decoration: none;   /*Tirar o underline*/
    padding: 8px 12px;       /*Aumentar os espaçamento entre os links*/
}

a:link, a:visited {
    color: #FFF; 
} 

a:hover {
    color: #f7b600;
    background: white;
}

/*
**** Formatações em geral ****
*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}